$media-fullhd           : "(max-width: 1920px)";
$media-xxxlarge         : "(max-width: 1680px)";
$media-xxlarge          : "(max-width: 1440px)";
$media-xlarge           : "(max-width: 1280px)";
$media-large            : "(max-width: 1024px)";
$media-medium           : "(max-width: 768px)";
$media-smedium          : "(max-width: 480px)";
$media-small            : "(max-width: 320px)";
$media-break-point-max  : "(max-width: 480px)";
$media-break-point-min  : "(min-width: 480px)";