$color-white : #ff9;
$size-medium : 80%;

.wrap {
    position: relative;
    width : $size-medium;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    background-color: #666;

    p {
        position: relative;
        display: block;
        top: 50%;
        font-size: 25px;
        text-transform: uppercase;
        color: $color-white;
        text-align: center;
        font-family: 'Helvetica';
    }
}
