block vars
	-	
		var page = {
			lang: "",
			canonical: "",
			description: "",
			pathName: "",
			pathRoot: "",
			title: "",
			keyword:"",
			og: {
				type:"website",
				url:"",
				img:""
			},
			twitter: {}
		}

		var wp = false
		var bodyClass = ""
		var root = null

include ./_head
include ../module/_svg-use

body(class=bodyClass)
	include /assets/images/symbols.svg
	main.pageContent
		section.pageContentInner
			block mainContent

	include ./_scripts
	include ./_footer
