block vars
	-	
		var page = {
			lang: "",
			canonical: "",
			description: "",
			pathName: "",
			pathRoot: "",
			title: "",
			keyword:"",
			og: {
				type:"website",
				url:"",
				img:""
			},
			twitter: {}
		}

		var wp = false
		var bodyClass = ""
		var root = null

doctype html
html(lang="ja")
	include ./_head
	include ../modules/_svg-use

	body(class=bodyClass)
		include /assets/images/symbols.svg
		include ./_header
		
		main.pageContent
			section.pageContentInner
				block mainContent

		include ./_script
		include ./_footer
