@import 'base/normalize';

.cover {
	position:fixed;
	width:60%; height:100%;
	left:40%;
	$headerHeight: 113px;
	.header {
		width:100%; height:$headerHeight;
		background-color: #fff;
		transform: translate3d(0,0,1px);
	}
	.cover-img {
		$coverMargin:calc(#{$headerHeight} *2);
		width:100%; 
		height:calc(100% - #{$coverMargin});
		// margin-top:$headerHeight;
		background-image:url(../images/cover.jpg);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		transform: translate3d(0,0,0);
	}

	.caption {
		text-align: right;
		margin-top: 17px;
		margin-right: 60px;
		text-transform: uppercase;
	}
}

.contents {
	width:40%;
	.dummy-contents {
		width: 100%;
	}
}