@import '../../css/base/normalize';

.list {
  position: relative;
  width:100%;
  color: #fff;
  letter-spacing: 0.1em;
  li {
    width:100%;
    text-align: center;
    padding: 10px 10px;
    background-color: #aaa;

    a {
      text-decoration: underline;
    }
  }
}